@import 'tailwindcss';
@import './theme.css';

@layer base {
  body {
    @apply font-montserrat;
  }
}

/* @utility mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@utility my-auto {
  margin-top: auto;
  margin-bottom: auto;
} */

@utility container {
  @apply mx-auto px-2 sm:px-3 md:px-4 lg:px-5 xl:px-16;
}

@utility btnPrimaryLarge {
  @apply rounded-sm bg-blue-500 px-4 py-2 font-bold text-white;
}

@utility btnPrimarySmall {
  @apply rounded-sm bg-blue-500 px-2 py-1 font-bold text-white;
}

@utility btnOutlineLarge {
  @apply rounded-sm border border-blue-500 px-4 py-2 font-bold text-blue-500;
}

@utility btnOutlineSmall {
  @apply rounded-sm border border-blue-500 px-2 py-1 font-bold text-blue-500;
}

@utility btnOpenLarge {
  @apply rounded-sm bg-blue-500 px-4 py-2 font-bold text-white;
}

@utility btnOpenSmall {
  @apply rounded-sm bg-blue-500 px-2 py-1 font-bold text-white;
}
