/* 
  font-family: 'Josefin Sans', sans-serif;
  font-family: "Nunito", serif;
  font-family: "Inter", serif;
  */

button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

header {
  background: #f2f5f7;
}

header .container {
  width: 1173px;
  gap: 13.5px;
  padding: 20px 0;
}

header .languageBtn {
  color: #06071a;
  font-weight: 400;
  font-size: 15px;
}

header .socialIcons {
  gap: 21px;
}

header .socialIcons a {
  color: #06071a;
  font-size: 12px;
}

.line {
  height: 1px;
  background: #c0c4d2;
}

.hero {
  background: #f2f5f7;
  padding: 22px 0 122px;
}

.hero .nav-menu {
  width: 1246px;
  background: #ffffff;
  padding: 23px 38px;
}

.hero .nav-menu .nav-list {
  gap: 30px;
  margin-right: 50px;
}

.hero .nav-menu .nav-list a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: #071c1f;
  transition: all 0.3s ease;
}

.hero .nav-menu .nav-list a:hover {
  color: #149572;
}

.hero .nav-menu .iconGroup {
  margin-right: 32px;
  gap: 14px;
}

.hero .nav-menu .iconGroup a i {
  font-size: 18px;
  color: #071c1f;
}

.hero .nav-menu .iconGroup .cartIcon {
  position: relative;
}

.hero .nav-menu .iconGroup .cartIcon .cartCounter {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  aspect-ratio: 1/1;
  background-color: #0a9a73;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.hero .heroContainer {
  padding: 116px 0;
  gap: 133px;
}

.hero .heroContainer .innerText {
  position: relative;
  width: 511px;
}

.hero .heroContainer .innerText .healthShape {
  position: absolute;
  left: -96px;
  top: -52px;
}

.hero .heroContainer .innerText .uspCard {
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 20px;
  color: #0a9a73;
  margin-bottom: 11px;
}

.hero .heroContainer .innerText h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 37px;
}

.hero .heroContainer .innerText .subHeader {
  font-size: 16px;
  line-height: 20px;
  color: #6d7580;
  margin-bottom: 30px;
}

.hero .heroContainer .innerText .shopNowBtn {
  padding: 16px 45px;
  background: #0a9a73;
  border-radius: 10px;
  color: #fff;
  font-family: 'Inter', serif;
}

.hero .heroContainer .promotionalProduct {
  width: 537px;
  height: 513px;
  position: relative;
}

.hero .heroContainer .promotionalProduct .model {
  position: absolute;
  bottom: 0px;
  right: 44px;
  width: 90px;
  aspect-ratio: 1/1;
  background-color: #0a9a73;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Inter', serif;
  text-transform: uppercase;
}

.hero .heroContainer .promotionalProduct .circle {
  aspect-ratio: 1/1;
  position: absolute;
  background-color: #0a9a73;
  border-radius: 50%;
}

.hero .heroContainer .promotionalProduct .bigCircle {
  width: 14px;
  right: -82px;
  bottom: 59px;
}

.hero .heroContainer .promotionalProduct .smallCircle {
  width: 7px;
  right: -98px;
  bottom: 48px;
}

.category {
  padding: 43px 0;
  gap: 38px;
}

.category .sliderBtn {
  width: 34px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #707070;
  transition: all 0.3s linear;
  transform: scale(1);
}
.category .sliderBtn:hover {
  transform: scale(1.1);
}

.category .sliderBtn i {
  font-size: 12px;
  color: #0a9a73;
}

.category .categoryList {
  gap: 79px;
}

.category .categoryList .categoryItem {
  transition: all 0.3s linear;
  gap: 20px;
}
.category .categoryList .categoryItem #icon {
  fill: #071c1f;
}

.category .categoryList .categoryItem .categoryName {
  text-transform: capitalize;
  color: #071c1f;
}

.category .categoryList .categoryItem:hover .categoryName {
  color: #0a9a73;
}
.category .categoryList .categoryItem:hover #icon {
  fill: #0a9a73;
}

