/* 
  font-family: 'Josefin Sans', sans-serif;
  font-family: "Nunito", serif;
  font-family: "Inter", serif;
  */

.container {
  width: 1170px;
}

button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

header {
  background: #f2f5f7;
}

header .container {
  width: 1173px;
  gap: 13.5px;
  padding: 20px 0;
}

header .languageBtn {
  color: #06071a;
  font-weight: 400;
  font-size: 15px;
}

header .socialIcons {
  gap: 21px;
}

header .socialIcons a {
  color: #06071a;
  font-size: 12px;
}

.hero {
  background: #f2f5f7;
  padding: 22px 0 122px;
}

.hero .nav-menu {
  width: 1246px;
  background: #ffffff;
  padding: 23px 38px;
}

.hero .nav-menu .nav-list {
  gap: 30px;
  margin-right: 50px;
}

.hero .nav-menu .nav-list a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: #071c1f;
  transition: all 0.3s ease;
}

.hero .nav-menu .nav-list a:hover {
  color: #149572;
}

.hero .nav-menu .iconGroup {
  margin-right: 32px;
  gap: 14px;
}

.hero .nav-menu .iconGroup a i {
  font-size: 18px;
  color: #071c1f;
}

.hero .nav-menu .iconGroup .cartIcon {
  position: relative;
}

.hero .nav-menu .iconGroup .cartIcon .cartCounter {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  aspect-ratio: 1/1;
  background-color: #0a9a73;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.hero .heroContainer {
  padding: 116px 0;
  gap: 133px;
}

.hero .heroContainer .innerText {
  position: relative;
  width: 511px;
}

.hero .heroContainer .innerText .healthShape {
  position: absolute;
  left: -96px;
  top: -52px;
  width: 24px;
  aspect-ratio: 1/1;
}

.hero .heroContainer .innerText .uspCard {
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 20px;
  color: #0a9a73;
  margin-bottom: 11px;
}

.hero .heroContainer .innerText h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 37px;
}

.hero .heroContainer .innerText .subHeader {
  font-size: 16px;
  line-height: 20px;
  color: #6d7580;
  margin-bottom: 30px;
}

.hero .heroContainer .innerText .shopNowBtn {
  padding: 16px 45px;
  background: #0a9a73;
  border-radius: 10px;
  color: #fff;
  font-family: 'Inter', serif;
}

.hero .heroContainer .promotionalProduct {
  width: 537px;
  height: 513px;
  position: relative;
}

.hero .heroContainer .promotionalProduct .model {
  position: absolute;
  bottom: 0px;
  right: 44px;
  width: 90px;
  aspect-ratio: 1/1;
  background-color: #0a9a73;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Inter', serif;
  text-transform: uppercase;
}

.hero .heroContainer .promotionalProduct .circle {
  aspect-ratio: 1/1;
  position: absolute;
  background-color: #0a9a73;
  border-radius: 50%;
}

.hero .heroContainer .promotionalProduct .bigCircle {
  width: 14px;
  right: -82px;
  bottom: 59px;
}

.hero .heroContainer .promotionalProduct .smallCircle {
  width: 7px;
  right: -98px;
  bottom: 48px;
}

.category {
  padding: 43px 0;
  gap: 38px;
}

.category .sliderBtn {
  width: 34px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #707070;
  transition: all 0.3s linear;
  transform: scale(1);
}
.category .sliderBtn:hover {
  transform: scale(1.1);
}

.category .sliderBtn i {
  font-size: 12px;
  color: #0a9a73;
}

.category .categoryList {
  gap: 79px;
}

.category .categoryList .categoryItem {
  transition: all 0.3s linear;
  gap: 20px;
}
.category .categoryList .categoryItem img {
  width: auto;
  height: auto;
}
.category .categoryList .categoryItem #icon {
  fill: #071c1f;
}

.category .categoryList .categoryItem .categoryName {
  text-transform: capitalize;
  color: #071c1f;
}

.category .categoryList .categoryItem:hover .categoryName {
  color: #0a9a73;
}
.category .categoryList .categoryItem:hover #icon {
  fill: #0a9a73;
}

.lineBreak {
  width: 1177px;
  margin: 0 auto;
}

.whyUs {
  padding: 75px 0;
  gap: 75px;
}
.whyUs .imgContainer {
  width: 560px;
  height: 480px;
}

.whyUs .whyUsContent {
  gap: 25px;
}
.whyUs .whyUsContent .heading {
  width: 462px;
  text-align: left;
  font-weight: 700;
  font-size: 44px;
  color: #071c1f;
}

.whyUs .whyUsContent .content {
  width: 505px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: #6d7580;
  font-family: 'Nunito', serif;
}

.whyUs .whyUsContent .checklist {
  gap: 21px;
  position: relative;
}
.whyUs .whyUsContent .checklist .covidIcon {
  position: absolute;
  right: -58px;
  bottom: -20px;
  width: 30px;
  height: 26px;
}

.whyUs .whyUsContent .checklist .checkListItem {
  gap: 13px;
}

.whyUs .whyUsContent .checklist .checkListItem .checkListIcon {
  width: 26px;
  aspect-ratio: 1/1;
  background-color: #0a9a73;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.whyUs .whyUsContent .whyUsLine {
  width: 515px;
}

.whyUs .whyUsContent .contactInfo .contactLine {
  width: 42px;
  margin: 0 21px;
}

.whyUs .whyUsContent .contactInfo .contactItem {
  padding: 10px;
  gap: 8px;
  background: #ffffff;
  transition: all 0.3s linear;
  color: #071c1f;
}

.whyUs .whyUsContent .contactInfo .contactItem .contactHeading {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  color: #071c1f;
  font-family: 'Inter', serif;
}
.whyUs .whyUsContent .contactInfo .contactItem .contactContent {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Nuinito', serif;
  color: #071c1f;
}
.whyUs .whyUsContent .contactInfo .contactItem i {
  font-size: 24px;
  color: #071c1f;
  transition: all 0.3s linear;
}

.whyUs .whyUsContent .contactInfo .contactItem:hover {
  background: #f1f5f7;
}
.whyUs .whyUsContent .contactInfo .contactItem:hover i {
  color: #0a9a73;
}

.promoSection {
  gap: 30px;
  margin-bottom: 112px;
}

.promoSection .item {
  width: 370px;
  height: 441px;
  padding: 37px 0 0 37px;
  position: relative;
}

.promoSection .item h5 {
  color: #0a9a73;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Nunito', serif;
  margin-bottom: 3px;
}

.promoSection .item h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #071c1f;
  margin-bottom: 14px;
  width: 200px;
}

.promoSection .item a {
  gap: 7px;
}

.promoSection .item:nth-child(3n + 1),
.promoSection .item:nth-child(1) {
  background-color: #dcedfd;
}

.promoSection .item:nth-child(3n + 2),
.promoSection .item:nth-child(2) {
  background-color: #e3efed;
}

.promoSection .item:nth-child(3n) {
  background-color: #f3eee8;
}

.promoSection .item .imgArea {
  position: absolute;
  right: 37px;
  bottom: 17px;
  width: 210px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 50%;
}
.promoSection .item .imgArea img {
  position: absolute;
  bottom: 0;
  width: 152px;
  height: 275px;
  object-fit: contain;
}

.promoSection .item:nth-child(odd) .imgArea img {
  right: 0;
}
.promoSection .item:nth-child(even) .imgArea img {
  left: 0;
}

.featuredSection {
  gap: 61px;
  margin-bottom: 117px;
}

.featuredSection .sectionTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  color: #071c1f;
}

.featuredSection .segment {
  gap: 30px;
}

.featuredSection .segment .bannerArea {
  gap: 30px;
}

.featuredSection .segment .bannerArea .banner {
  padding: 30px 0 0 27px;
  border-radius: 6px;
  width: 270px;
}

.featuredSection .segment .bannerArea .banner h5 {
  color: #0a9a73;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 6px;
}

.featuredSection .segment .bannerArea .banner h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #071c1f;
  margin-bottom: 14px;
  width: 200px;
}

.featuredSection .segment .bannerArea .banner a {
  color: #0a9a73;
  gap: 7px;
}

.featuredSection .segment .bannerArea .topBanner {
  background-color: #f3eee8;
  height: 258px;
}

.featuredSection .segment .bannerArea .bottomBanner {
  background-color: #e3efed;
  height: 442px;
}

.featuredSection .segment .productArea {
  row-gap: 34px;
  column-gap: 30px;
  width: 870px;
}

.featuredSection .segment .productArea .productItem {
  gap: 13px;
  transition: all 0.3s linear;
  padding-bottom: 10px;
}
.featuredSection .segment .productArea .productItem:hover {
  -webkit-box-shadow: -1px 26px 71px -35px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 26px 71px -35px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 26px 71px -35px rgba(0, 0, 0, 0.75);
}

.featuredSection .segment .productArea .productItem .imgContainer {
  width: 270px;
  height: 290px;
  position: relative;
  background-color: #d3d4dc;
  /* border-radius: 8px; */
}

.featuredSection .segment .productArea .productItem .imgContainer .badge {
  padding: 6px 11px;
  background-color: #0a9a73;
  position: absolute;
  right: 13px;
  top: 12px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.featuredSection .segment .productArea .productItem .imgContainer .iconSet {
  position: absolute;
  right: 20px;
  top: 50px;
  gap: 8px;
}

.featuredSection
  .segment
  .productArea
  .productItem
  .imgContainer
  .iconSet
  .icon {
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s linear;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}

.featuredSection
  .segment
  .productArea
  .productItem:hover
  .imgContainer
  .iconSet
  .icon {
  opacity: 1;
  z-index: 1;
}

.featuredSection .segment .productArea .productItem h4 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #071c1f;
}

.featuredSection .segment .productArea .productItem h5 {
  margin-left: 10px;
  font-weight: 700;
  font-family: 'Inter', serif;
  font-size: 14px;
}

.featuredSection .segment .productArea .productItem h5 span {
  font-size: 12px;
  color: #fb2448;
  text-decoration: line-through;
}

.hotOffer {
  background-color: #f2f6f7;
  margin-bottom: 110px;
  overflow: hidden;
}

.hotOffer > .child {
  width: 1236px;
  position: relative;
}

.hotOffer > .child .virus {
  position: absolute;
  left: -287px;
  top: 102px;
}

.hotOffer > .child .illustration {
  position: absolute;
  top: 0;
  right: 0;
}

.hotOffer > .child .inner_text {
  margin: 107px 0;
  width: 453px;
}

.hotOffer > .child .inner_text .title {
  text-transform: capitalize;
  font-family: 'Nunito', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #0a9a73;
  margin-bottom: 13px;
}

.hotOffer > .child .inner_text .heading {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 44px;
  color: #071c1f;
  margin-bottom: 40px;
}

.hotOffer > .child .inner_text .details {
  text-transform: capitalize;
  font-family: 'Nunito', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #546375;
  margin-bottom: 24px;
}

.hotOffer > .child .inner_text .timer {
  gap: 23px;
  margin-bottom: 36px;
}

.hotOffer > .child .inner_text .timer .item {
  gap: 7px;
  cursor: pointer;
}

.hotOffer > .child .inner_text .timer .item .value {
  font-family: 'Nunito', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 14px 20px;
  box-shadow: 0px 3px 10px 0px #2e2b7414;
  background: #ffffff;
  color: #0a9a73;
  transition: all 0.2s linear;
}

.hotOffer > .child .inner_text .timer .item:hover .value {
  background: #0a9a73;
  color: #ffffff;
}

.hotOffer > .child .inner_text .timer .item .label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #071c1f;
}

.hotOffer > .child .inner_text .btn {
  gap: 24px;
}
.hotOffer > .child .inner_text .btn a {
  text-transform: capitalize;
}

.hotOffer > .child .inner_text .btn .shopNow {
  padding: 12px 28px;
  font-family: 'Nunito', serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  background: #0a9a73;
  color: #ffffff;
}

.hotOffer > .child .inner_text .btn .dealOfTheDay {
  font-family: 'Nunito', serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #0a9a73;
  text-decoration: underline;
}

